
<center>
<h1>Your Rewards</h1>

<br><% if @user_reward.used == true || @gift_card == "None yet!"%><br>
  <h3>No rewards right now!</h3>
<% else %>
  <br><h3><%= @gift_card %></h3>
  <%= form_for @user_reward, method: :patch do |f| %>
    <%= f.hidden_field :used, value: true %>
    <%= f.submit 'Use Reward', class: "btn btn-info btn-bg" %>
  <% end %>
<% end %>
</center>