<<<<<<< HEAD
<h1>Thank You For Donating!!<h1>
<h3> If you want to donate again click here</h3>
<%= link_to '<button type="button">charity</button>'.html_safe, charities_path %>
=======
<h1>Thank you for donating!</h1>
>>>>>>> f585845c44b63e8db6d3fa653355b4bee594fb72
