<h1>Largest Donation</h1>
<%= "$#{@largest_donation_amount} by #{@user_with_largest_donation.name}" %>
<br>
<h1>Charity with the most donations</h1>
<h4><%= @most_donated_to_charity.name %></h4>
<h1>User with the most donations</h1>
<h4><%= @user_with_most_donations.name %></h4>
