<h1> All Charity</h1>
<% @charities.each do |charity|%>
<%= link_to charity.name, charity_path(charity)%>
<%= link_to " Like", new_donation_path, class: "btn btn-primary btn-sm" %><br>
<%= link_to "Read More", new_donation_path, class: "btn btn-danger btn-sm"%><br><br>

<%end%>
</ul>
